@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@400;500;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    position: relative;
}
/* Navigation bar  Start*/
.navbar {
    --bs-navbar-nav-link-padding-x: 1rem;
}

.navbar .navbar-nav .nav-link.active{
    color: #20835d;
}

.navbar .nav-link {
    font-family: 'Bai Jamjuree', sans-serif;
}

/* Buttons */
.btn {
    border-radius: 0;
    padding: 8px 18px;
    color: white;
    background-color: #22a376;
}

.btn:hover {
    background-color: #20835d;
}
/* Buttons */

#home {
    align-items: center;
    padding-top: 150px;
    padding-bottom: 200px;
}

.text1 {
    font-weight: 500;
    font-size: 24px;
}

.text2 {
    padding-top: 10px;
    font-weight: 700;
    font-size: 42px;
    color: #20835d;
}

.text3 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 700;
}
.text4 {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
}

.btn-brand {
    background-color: #22a376;
    color: #fff;
    font-family: "Montserrat Alternates";
    margin-bottom: 12%;
}

.btn-brand:hover {
    background-color: #20835d;
    color: #fff;
}
/* Navigation bar  End*/



/* ABOUT start*/
span{
    color: #22a376;
}
hr{
    /* color: ; */
    width: 25%;
    border-top: 6px double #22a376;
}
.container .row img{
    border: 2px solid #20835d;
    /* margin-top: 60px; */
}
.linkedin{
    font-size: 30px;    
    padding-right: 10px;
    padding-bottom: 20px;
}
.github{
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}S
/* ABOUT End*/


/* skills start*/
.skills-txt {
    margin-bottom: 20px;
}

.skill-items {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

@media (max-width: 718px) {
    .skill-items {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (max-width: 605px) {
    .skill-items {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 490px) {
    .skill-items {
        grid-template-columns: auto auto auto;
    }
}

.skill-item .logo {
    color: #20835d;
    text-align: center;
    font-size: 60px;
    transition: all .4s ease;
}
.skill-item .logo:hover {
    color: white;
}

.skill-item .info {
    margin-top: 20px;
    color: white;
    text-align: center;
    transform: translateY(-100%);
    font-weight: 500;
}
.skill-item .info:hover{
    color: white;
}

/* colors */
#html {
    color: #ff5e00;
    transition: all 300ms ease;
}

#css {
    color: #0026ff;
    transition: all 300ms ease;
}

#bootstrap {
    color: #7905e5;
    transition: all 300ms ease;
}
/* 
#tailwind-css {
    color: #0697c3;
    transition: all 300ms ease;
} */

#js {
    color: #ffff00;
    transition: all 300ms ease;
}

#cpp {
    color: #031682;
    transition: all 300ms ease;
}

#react {
    color: #189ef8;
    transition: all 300ms ease;
}

#node {
    color: #047214;
    transition: all 300ms ease;
}

/* #mongodb {
    color: #02a11a;
    transition: all 300ms ease;
} */

#mysql {
    color: #153f7e;
    transition: all 300ms ease;
}
#python{
    color: #4685b7;
    transition: all 300ms ease;
}
#php{
    color: #4f5b93;
    transition: all 300ms ease;
}
#wordpress{
    color: #1b769c;
    transition: all 300ms ease;
}
#figma{
    color:#a259ff;
    transition: all 300ms ease;
}


#html:hover,
#css:hover,
#bootstrap:hover,
#js:hover,
#cpp:hover,
#react:hover,
#node:hover,
#python:hover,
#php:hover,
#wordpress:hover,
#figma:hover,
#mysql:hover{
    color: #fff;
    transition: all 300ms ease;
}
/* skills end */


/* portfolio start*/
.portfolio_wrapper .card{
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #20835d;
    cursor: pointer;
    
}
.portfolio_wrapper .card:hover{
    box-shadow: 0 0 16px 4px rgb(49, 121, 58);
}
.portfolio_wrapper .card span{
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.portfolio_wrapper .card:hover span{
    background-position: bottom center;
}

@media (max-width: 991px){
    .portfolio_wrapper .card{
        min-height: 500px;
    }
}

@media (max-width: 718px){
    .portfolio_wrapper .card{
        min-height: 500px;
        margin: 20px;
    }
}
/* portfolio end*/

/* --------------contact start------------------ */
.form{
    border: 2px solid #20835d;
}
.form .form-floating,
.submit{
    margin: 20px;
}
/* --------------contact end------------------ */

/* ------footer start-------------- */
.footer{
    background-color: black;
    border-top: 1px solid whitesmoke;
}
.footer .social-icons{
    font-size: 20px;
}
/* ------footer End-------------- */